.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.storybook-button--primary {
  background-color: #0047AB;
  padding: 8px 10px;
  color: white;
}

.storybook-button--large {
  padding: 16px 148px;
  font-size: 1rem;
}